.editor-bold {
    font-weight: bold;
}

.editor-italic {
    font-style: italic;
}

.editor-strikethrough {
    text-decoration: line-through;
}

.editor-underline {
    text-decoration: underline;
}

.editor-underlinestrikethrough {
    text-decoration: line-through underline;
}

.editor-code {
    padding: 6px;
    background-color: lightgray;
}

.hidden {
    display: "none";
}